/* page principale*/

body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 4em !important;
    margin: 1vw !important;
    font-weight: 400 !important;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 3em !important;
    margin: 2vw !important;
    font-weight: 400 !important;
}

p {
    margin: 5px;
}

a:link {
    text-decoration: none !important;
    transition: all 0.2s;
    &:hover {
        transform: scale(0.9);
    }
}

.tki {
    text-align: center;
}

.moi {
    text-align: center;
}

.temkoi {
    text-align: center;
}

.jem {
    text-align: center;
}


/* page "contact" */

.media {
    color: black !important;
    text-decoration: none;
    img {
        width: 10vw;
    }
    transition: all 0.2s;
    &:hover {
        transform: scale(0.95) translateX(-20px);
    }
}